*{
	margin:0;
	padding:0;
}
/*.background{
	background: url(../images/background.jpg) repeat-x;
}*/
* a{
	text-decoration: none;
	color: #ffffff;
}
body{
	margin: 0px;
	text-align: center;
	font-size: 12px;
	background: url(../images/background.jpg) repeat-x;
/*	font-family:Arial, Helvetica, sans-serif;*/
	font-family:  Heiti TC;
	word-wrap: break-word; 
	word-break: normal; 
}

.wrapper{
	width: 880px;
	margin: 0 auto;
	text-align: left;
	background-color: #ffffff;
	-moz-box-shadow: 0 0 30px #373737;
	-webkit-box-shadow: 0 0 30px #373737;
	box-shadow: 0 0 30px #373737;
	
}
.header{
	background: url(../images/banner.jpg) repeat-y;
	height:155px;
}
/*清除float*/
.clear
{
zoom:1;
}
.clear::before,.clear::after{
content: ".";
display: block;
height: 0;
visibility: hidden;
}

.clear::after
{
	clear: both;
}
/*样式*/
.bold{
	font-weight: bold;
}
/*线条*/
.dashline{
	border-bottom: 1px dotted #a5a5a5;
}
/*字体大小*/
.f12{
	font-size: 12px;
}
.f14{
	font-size: 14px;
}
.f16{
	font-size: 16px;
}
.f18{
	font-size: 18px;
}
/*字体颜色*/
.cr1{
	color:#d10707;
}
.cb1{
	color: #0a0a0a;
}
.cb2{
	color: #696969;
}
#nav{  overflow: hidden;background: url(../images/nav.jpg) no-repeat;margin: 0;padding: 0;position: relative;padding-left: 35px;display:block;}
#nav  li{list-style-type: none;float:left;display: block;margin: 0;padding: 0;line-height:27px;}
/*#nav > li:hover ul{display:block;}*/
#nav  li:hover a{	background:url(../images/select.jpg) repeat-x;}
#nav  li a{display: block;float:left;padding:0 10px;font-size: 12px;color: #ffffff;text-decoration: none;}
/*下拉栏*/
.dropMenu {
	position:absolute;
	top: 0;
	z-index:100;
	width: 120px;
	visibility: hidden;
/*  	filter: progid:DXImageTransform.Microsoft.Shadow(color=#000, direction=135, strength=4);
*/	margin-top: -1px;
	margin-left:-2px;
	border: 1px solid #fb8b5b;
	border-top: 0px solid ;
	z-index: 1010;
	/*background:url(../imagess/mmenubg.gif);*/
	padding-top:2px;
	padding-bottom:2px;
	filter: Alpha(Opacity=85);
	background-color: #bf2222;
}

.dropMenu li {
	margin-top:2px;
	margin-bottom:1px;
	padding-left:6px;
}
.dropMenu li a {
	width: 92%;
	display: block;
	text-align:center;
	color: #ffffff;
	padding: 4px 0 4px 0px;
	border-bottom: 1px dashed #4D5B66;
}
.dropMenu+li a{
border-top:none;
}
* html .dropMenu a {
	width: 100%;
	color: #ffffff;
}
.dropMenu a:hover {
	text-decoration: underline;
	color:#F09C42;
}


#message{width: auto;height:23px;
	background: url(../images/message_back.jpg) repeat-x;
}
#right_title{
	padding-left:15px;
	padding-top: 7px;
	width: auto;
	height:31px;
	background: url(../images/title_back_right.jpg) repeat-x;
	color: #f6f6f6;
	font-size: 18px;
}
#left_title{
	padding-left:15px;
	padding-top: 4px;
	color: #f6f6f6;
	width: 150px;
	height:26px;
	background:url(../images/title_back.jpg) repeat-x;
	font-size: 15px;
}
#more{
	float: right;
	text-align: right;
	margin-top: 5px;
	margin-right: 10px;
	font-size: 9px;
	color: #fbf2d2;
}

.content{
	overflow: hidden;
	height:auto;
}
.content .primary{
	width: 570px;
	float: left;
	display: inline;
	padding: 20px 0 20px 30px;
}
.content .secondly{
	width: 265px;
	padding-left: 10px;
	float: left;
	display: inline;
}
.content .secondly .block{
	
	width: 240px;
	height:auto;
	min-width: 30px;
	margin: 20px 10px 5px 5px;
}

#pictureswall_bk{
	overflow: hidden;
	width: 565px;height:245px;
	background-color: #deabab ;
/*	margin-left: 30px;
	margin-top: 20px;*/
	margin-bottom: 20px;
}

#pictureswall {position:relative; width:400px; height:213px; overflow:hidden;}
#pictures img {border:0px;width: 400px;height:213px;
}
#pictures_bg {overflow: hidden;
	position: relative; bottom:0;background-color:#b73030;height:32px;z-index:1000; width:400px; }
#pictures_info{margin-top: 8px;font-size: 18px;
	position:relative; bottom:0; left:5px;height:22px;color:#fff;float:left;z-index:1001;cursor:pointer}
#pictures_text {position:absolute;width:120px;z-index:1002; right:3px; bottom:3px;}
#pictures_bg ul { margin-left: 300px;margin-top: 10px;
	z-index:1005}
#pictures_bg ul li { 
	padding:7px;float:left;display:block;background:url(../images/white_dot.jpg) no-repeat;cursor:pointer;color: transparent;
}
#pictures_bg ul li.on { background: url(../images/yellow_dot.jpg) no-repeat;
}
#pictures a{position:absolute;}
#viewmore{
	text-align: center;
	font-size: 16px;
	overflow: hidden;	
	width: 565px;
	height:25px;
	background-color: #d1d0d0;
	color: #d10707;
	padding-top: 9px;
}
.primary .article-items{

	margin: 0 auto;
	margin-bottom: 20px;
}
.article-items .item{
    overflow: hidden;
	width: 565px;
	height:155px;
	margin-bottom: 30px;
}



.article-items  .title{
	width: 565px;
	height:35px;
	border-bottom: 2px solid #e95353;
	border-top: 4px solid #e95353;
}

.content .primary .three{

	margin-bottom: 15px;
	overflow: hidden;
}
.content .primary .three .two{
width: 385px;
height:105px;
float: left;
display: block;
}
.content .primary .three .two .left{
	
    float: left;
    width: 164px;height:105px;
	border-right: 1px solid #e30a0a;
	padding-right: 15px;
}
.content .primary .three .two .right{
	float:right;
	width: 164px;height:105px;
	border-right: 1px solid #e30a0a;
	padding-right: 19px;
}
.content .primary .three .last{
float: left;
width: 165px;height:105px;
-color: #8ee2be;
display: block;
padding-left: 15px;
}
/*文章*/
.content .primary .article
{
	-webkit-border-radius: 5px;
	border: 1px solid #b1b1b1;
}
.article .location
{	
	height:23px;
	background:url(../images/article_location_bg.jpg);
	color: #ffffff;
	font-size: 13px;
	padding-top: 5px;
	padding-left: 5px;
}
.article .article_title
{
	height:40px;
	background:#fdfbed;
	border-bottom: 1px dashed #919191;
	font-size: 15px;
	text-align: center;
	padding:10px;
}
.article .article_content
{
	padding: 10px;
}
.article .article_share{
	padding: 10px;
	float: right;
}
/*文章列表*/
.article-list-item{
	padding: 6px;
	height: auto;
	width: auto;
}
.article-list-item .title{
	padding-bottom: 5px;
}
.article-list-item .status{
	font-weight: bold;
}
.article-list-item .info{
	padding-top: 5px;
}
.footer{
	overflow:hidden;
	height:138px;
	font-size: 12px;
	background:url(../images/bottom_background.jpg) repeat-x;
	color: #f7f1f1;
	
}
.footer .logo
{
	float:right;
	height: 82px;
	width: 257px;
	top: 15px;
	right: 50px;
	position: relative;
	z-index:50;
	background:url(../images/logo_bottom.jpg);
}
.copyright
{
	overflow:hidden;
	font-size:13px;
	top:118px;
	left:300px;
	position: relative;
	color: #f4f4f4;
}
.footer .connect{	
	float: left;
	top: 15px;
	left:50px;
	position:relative;
	
}
.footer .connect .title
{
	font-size: 25px;
}
.footer .connect ul 
{
	
	top: 10px;
	position:relative;
	margin:0;
	padding:0;
	
}
.footer .connect ul li 
{
	
	list-style:none;
	margin: 5px;
} 
.footer .connect ul li a 
{
	color: #f4f4f4;
	text-decoration: none;
}
.footer .connect ul li:hover a 
{
	color: #fad16c;
}